@charset "utf-8";

.searchbox {
    margin-bottom: 40px;
}

.searchbox img {
    width: 30px;
    height: 30px;
}

.searchbox select {
    box-shadow: none !important;
    font-size: 15px;
    border: 0;
    border-bottom: solid 1px #c8c8c8;
    border-radius: 0;
    max-width: 310px;
    margin-right: 20px;
}

.searchbox input {
    box-shadow: none !important;
    font-size: 15px;
    border: 0;
    border-bottom: solid 1px #c8c8c8;
    border-radius: 0;
    max-width: 850px;
}

.searchbox button {
    background: none !important;
    border:0 !important;
    position: absolute;
    right:50px;
    margin-top:-15px;
    z-index: 5 !important;
}

.searchbox .groupbox {
    position: relative;
    justify-content: center;
}

.boardtablebox table {
    width:100%;
}

.boardtablebox .atttd img {
    width:25px;
    height: 25px;
}

.boardtablebox .atttd {
    text-align: center;
}

.boardtablebox .datetd {
    text-align: center;
    font-size: 15px;
    color: #555;
}

.boardtablebox .titletd a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:17px;
    font-weight: bold;
}

.boardtablebox .titletd {
    width:70%;
    text-indent: 15px;
}

.boardtablebox table thead {
    border-top:solid 2px var(--basic-personal-color);
    background: #f3f4f9;
    height: 60px;
    border-bottom:solid 1px #c8c8c8;
}

.boardtablebox table thead th {
    vertical-align: middle;
    text-align: center;
    font-size:15px;
    font-weight: 400;
}

.boardtablebox table tbody td {
    height: 65px;
    vertical-align: middle;
    border-bottom:solid 1px #c8c8c8;

}

.boardtablebox .numtd {
    text-align: center;
    font-size: 15px;
    color: var(--basic-personal-color);
}

.boardtablebox .allcheck {
    text-align: center;
}

.boardtablebox caption {
    caption-side: top;
}

.boardtablebox caption span {
    color: var(--basic-personal-color);
}

.subwrap {
    margin-top: 70px;
    margin-bottom: 60px;
}

.subwrap .buttonbox button {
    height: 50px;
    padding: 0;
    width:130px;
}

.subwrap .buttonbox {
    text-align: right;
    margin-top:30px;
}

.subwrap .buttonbox .writebtn {
    background: var(--basic-personal-color) !important;
    border:0 !important;
    margin-right: 20px;
}

.subwrap .buttonbox a {
    color: #fff !important;
    display: block;
}

.subwrap .buttonbox .deletebtn {
    background: #c8c8c8 !important;
    border:0 !important;
}

.paginationwrap {
    margin-top: 70px;
}

.paginationwrap .pagebox {
    justify-content: center;
}

.paginationwrap .pageitems {

}

.pagefirst {

}

.pageitemlink {

}

.pagefirstlink span:first-child {

}

.pagefirstlink {

}


.writewrap {
    margin-top:90px;
    margin-bottom: 70px;
}

.writewrap .titleinput {
    box-shadow: none !important;
    height: 50px;
}

.writegroupbox {
    margin-bottom: 30px;
}


.writewrap .buttonbox {

}

.writewrap .buttonbox button {
    height: 50px;
    padding: 0;
    width:130px;
}

.writewrap .buttonbox {
    text-align: right;
    margin-top:30px;
}

.writewrap .buttonbox .writebtn {
    background: var(--basic-personal-color) !important;
    border:0 !important;
    margin-right: 20px;
}

.writewrap .buttonbox a {
    color: #fff !important;
    display: block;
}

.writewrap .buttonbox .cenclebtn {
    background: #c8c8c8 !important;
    border:0 !important;
}

.boardviewwrap {
    margin-top:90px;
    margin-bottom: 70px;
}

.boardviewwrap .boardviewheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #c8c8c8;
    padding-bottom: 40px;
}

.boardviewwrap .boardviewheader h1 {
    font-size:40px;
    font-weight: bold;
    margin-bottom: 0;
}

.boardviewwrap .boardviewbody {
    margin-top: 40px;
}

.boardviewwrap .contentbox p {
    color: #555;
    font-size: 17px;
}

.boardviewwrap .contentbox {
    border-bottom: solid 1px #c8c8c8;
    padding-bottom: 40px;
}

.boardviewwrap .buttonbox {
    text-align: right;
    margin-top:30px;
}

.boardviewwrap .buttonbox button {
    height: 50px;
    padding: 0;
    width:130px;
    background: #c8c8c8 !important;
    border:0 !important;
    margin-right: 20px;
}

.boardviewwrap .buttonbox button:last-child {
    margin-bottom: 0;
}

.boardviewwrap .buttonbox button a {
    display: block;
    color: #fff !important;
}



.prevnextbox {
    margin-top: 50px;
}
.prevnextbox table {
    width:100%;
}

.prevnextbox table td a {
    display: block;
}

.prevnextbox .viewatttd span a {

}

.prevnextbox .viewatttd .attboxs {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.prevnextbox th {
    border-top:solid 1px #c8c8c8;
    border-bottom: solid 1px #c8c8c8;
    height: 60px;
    vertical-align: middle;
    text-indent: 20px;
    width:10%;
    font-size: 17px;
    font-weight: 400;
}

.prevnextbox td {
    border-top:solid 1px #c8c8c8;
    border-bottom: solid 1px #c8c8c8;
    height: 60px;
    vertical-align: middle;
}

.prevnextbox td a {
    font-size: 15px;
    color: #555;
}


.attchbox {
    margin-top: 50px;
    border-top:solid 1px #c8c8c8;
    border-bottom: solid 1px #c8c8c8;
    padding: 10px 0;
}

.fileinput {
    box-shadow: none !important;
    margin-bottom: 10px;

}