@charset "utf-8";

.searchbox img {
    width: 30px;
    height: 30px;
}

.searchbox select {
    box-shadow: none !important;
    font-size: 15px;
    border: 0;
    border-bottom: solid 1px #c8c8c8;
    border-radius: 0;
    max-width: 310px;
    margin-right: 20px;
}

.searchbox input {
    box-shadow: none !important;
    font-size: 15px;
    border: 0;
    border-bottom: solid 1px #c8c8c8;
    border-radius: 0;
    max-width: 850px;
}

.searchbox button {
    background: none !important;
    border:0 !important;
    position: absolute;
    right:50px;
    margin-top:-15px;
    z-index: 5 !important;
}

.searchbox .groupbox {
    position: relative;
    justify-content: center;
}

.boardtablebox table {
    width:100%;
}