@charset "utf-8";

.searchbox {
    margin-bottom: 40px;
}

.searchbox img {
    width: 30px;
    height: 30px;
}

.searchbox select {
    box-shadow: none !important;
    font-size: 15px;
    border: 0;
    border-bottom: solid 1px #c8c8c8;
    border-radius: 0;
    max-width: 310px;
    margin-right: 20px;
}

.searchbox input {
    box-shadow: none !important;
    font-size: 15px;
    border: 0;
    border-bottom: solid 1px #c8c8c8;
    border-radius: 0;
    max-width: 850px;
}

.searchbox button {
    background: none !important;
    border:0 !important;
    position: absolute;
    right:50px;
    margin-top:-15px;
    z-index: 5 !important;
}

.searchbox .groupbox {
    position: relative;
    justify-content: center;
}


.boardwebzinebox table {
    width:100%;

    border-top:solid 1px #c8c8c8;
}

.boardwebzinebox table td {
    padding: 37px 0;
    border-bottom:solid 1px #c8c8c8;
    vertical-align: middle;
}

.boardwebzinebox caption {
    caption-side: top;
}

.boardwebzinebox caption span {
    color: var(--basic-personal-color);
}

.boardwebzinebox .thumbnailtd {
    position: relative;
}

.boardwebzinebox .thumbnailtd img {
    width:250px;
    height: 150px;
    aspect-ratio: 16/9;
}

.boardwebzinebox .thumbnailtd {
    width:17%;
}

.boardwebzinebox .idspan {
    display: block;
    color: var(--basic-personal-color);
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 30px;
}

.boardwebzinebox .titlestrong {
    font-size:25px;
    letter-spacing: -1px;
    display: block;
    margin-bottom: 40px;
}

.boardwebzinebox .detailbox {
    padding: 0 40px;
}

.boardwebzinebox .detailbox a {
    display: block;
}

.boardwebzinebox .datespan {
    color: #969696;
    font-size: 17px;
}


.boardtablebox table {
    width:100%;
}

.boardtablebox .atttd img {
    width:25px;
    height: 25px;
}

.boardtablebox .atttd {
    text-align: center;
}

.boardtablebox .datetd {
    text-align: center;
    font-size: 15px;
    color: #555;
}

.boardtablebox .titletd a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:17px;
    font-weight: bold;
}

.boardtablebox .titletd {
    width:70%;
    text-indent: 15px;
}

.boardtablebox table thead {
    border-top:solid 2px var(--basic-personal-color);
    background: #f3f4f9;
    height: 60px;
    border-bottom:solid 1px #c8c8c8;
}

.boardtablebox table thead th {
    vertical-align: middle;
    text-align: center;
    font-size:15px;
    font-weight: 400;
}

.boardtablebox table tbody td {
    height: 65px;
    vertical-align: middle;
    border-bottom:solid 1px #c8c8c8;

}

.boardtablebox .numtd {
    text-align: center;
    font-size: 15px;
    color: var(--basic-personal-color);
}

.boardtablebox .allcheck {
    text-align: center;
}

.boardtablebox caption {
    caption-side: top;
}

.boardtablebox caption span {
    color: var(--basic-personal-color);
}

.subwrap {
    margin-top: 70px;
    margin-bottom: 60px;
}

.subwrap .buttonbox button {
    height: 50px;
    padding: 0;
    width:130px;
}

.subwrap .buttonbox {
    text-align: right;
    margin-top:30px;
}

.subwrap .buttonbox .writebtn {
    background: var(--basic-personal-color) !important;
    border:0 !important;
    margin-right: 20px;
}

.subwrap .buttonbox a {
    color: #fff !important;
    display: block;
}

.subwrap .buttonbox .deletebtn {
    background: #c8c8c8 !important;
    border:0 !important;
}

.paginationwrap {
    margin-top: 70px;
}

.paginationwrap .pagebox {
    justify-content: center;
}

.paginationwrap .pageitems {

}

.pagefirst {

}

.pageitemlink {

}

.pagefirstlink span:first-child {

}

.pagefirstlink {

}


.writewrap {
    margin-top:90px;
    margin-bottom: 70px;
}

.writewrap .titleinput {
    box-shadow: none !important;
    height: 50px;
}

.writegroupbox {
    margin-bottom: 30px;
}


.writewrap .buttonbox {

}

.writewrap .buttonbox button {
    height: 50px;
    padding: 0;
    width:130px;
}

.writewrap .buttonbox {
    text-align: right;
    margin-top:30px;
}

.writewrap .buttonbox .writebtn {
    background: var(--basic-personal-color) !important;
    border:0 !important;
    margin-right: 20px;
}

.writewrap .buttonbox a {
    color: #fff !important;
    display: block;
}

.writewrap .buttonbox .cenclebtn {
    background: #c8c8c8 !important;
    border:0 !important;
}

.boardviewwrap {
    margin-top:90px;
    margin-bottom: 70px;
}

.boardviewwrap .boardviewheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #c8c8c8;
    padding-bottom: 40px;
}

.boardviewwrap .boardviewheader h1 {
    font-size:30px;
    font-weight: bold;
    margin-bottom: 0;
}

.boardviewwrap .boardviewbody {
    margin-top: 40px;
}

.boardviewwrap .contentbox p {
    color: #555;
    font-size: 17px;
}

.boardviewwrap .contentbox {
    border-bottom: solid 1px #c8c8c8;
    padding-bottom: 40px;
}

.boardviewwrap .contentbox img {

}

.boardviewwrap .buttonbox {
    text-align: right;
    margin-top:30px;
}

.boardviewwrap .buttonbox button {
    height: 50px;
    padding: 0;
    width:130px;
    background: #c8c8c8 !important;
    border:0 !important;
    margin-right: 20px;
}

.boardviewwrap .buttonbox button:last-child {
    margin-bottom: 0;
}

.boardviewwrap .buttonbox button a {
    display: block;
    color: #fff !important;
}



.prevnextbox {
    margin-top: 50px;
}
.prevnextbox table {
    width:100%;
}

.prevnextbox table td a {
    display: block;
}

.prevnextbox .viewatttd span a {

}

.prevnextbox .viewatttd .attboxs {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.prevnextbox th {
    border-top:solid 1px #c8c8c8;
    border-bottom: solid 1px #c8c8c8;
    height: 60px;
    vertical-align: middle;
    text-indent: 20px;
    width:10%;
    font-size: 17px;
    font-weight: 400;
}

.prevnextbox td {
    border-top:solid 1px #c8c8c8;
    border-bottom: solid 1px #c8c8c8;
    height: 60px;
    vertical-align: middle;
}

.prevnextbox td a {
    font-size: 15px;
    color: #555;
}


.attchbox {
    margin-top: 50px;
    border-top:solid 1px #c8c8c8;
    border-bottom: solid 1px #c8c8c8;
    padding: 10px 0;
}

.fileinput {
    box-shadow: none !important;
    margin-bottom: 10px;

}

.fileDisplay .closebtn {
    font-size: 10px;
    padding: 0;
    margin-left: 5px;
    box-shadow: none !important;
}
.fileDisplay {
    margin-right: 20px;
}

.fileDisplay:last-child {
    margin-right: 0;
}


.technicbox .imgspan img {
    width:18px;
    height: 18px;
}

.technicbox .infobox {
    background: #f5f5f5;
    border-radius: 10px;
}

.technicbox .infobox .infoheaders {
    padding: 27px;
}

.technicbox .infobox .infoheaders span {
    color:#969696;
    font-size:15px;
}

.technicbox .infobox .infoheaders h4 {
    font-size:28px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top:13px;
}

.technicbox .infobox .infoheader a {
    display: block;
    padding: 27px;
}

.technicbox .infobox .infoheader span {
    color:#969696;
    font-size:15px;
}

.technicbox .infobox .infoheader h4 {
    font-size:28px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top:13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.technicbox .infobox .downloadbox {
    background: var(--basic-personal-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.technicbox .infobox .downloadbox a {
    padding: 21px 0;
    display: block;
}

.technicbox .infobox .downloadbox a span {
    color: #fff;
    font-weight: bold;
}

.technicbox .infobox .downloadbox a span.textspan {
    margin-right: 7px;
}

.technicbox .infobox .downloadbox a span.imgspan {
    position: relative;
    top:-1px;
}

.checkdelete {
    position: absolute;
    z-index: 4;
}

.checkdelete input {
    box-shadow: none !important;
    width:20px;
    height: 20px;
    border-radius: 0 !important;
    margin-top: 0;
}


@media (max-width: 1399px) {
    .boardwebzinebox .titlestrong {
        font-size:20px;
    }
    .boardviewwrap .contentbox img {
        width:100%;
    }
}


@media (max-width: 1199px) {
    .container {
        max-width: 100%;
    }
    .boardwebzinebox table {
        table-layout: fixed;
    }
    .boardwebzinebox .thumbnailtd img {
        width:100%;
    }
    .boardwebzinebox .thumbnailtd {
        width:30%;
    }

    .boardviewwrap .contentbox p a {
        word-break: break-word;
    }
    .prevnextbox th {
        width:23%;
    }
    .prevnextbox table {
        table-layout: fixed;
    }
    .checktd {
        width:2%;
    }
}

@media (max-width: 1079px) {
    .boardwebzinebox .titlestrong {
        width:95%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (max-width: 659px) {
    .boardviewwrap .boardviewheader {
        display: block;
    }
    .boardviewwrap .boardviewheader h1 {
        margin-bottom: 20px;
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .searchbox input {
        max-width: 100%;
        width:100% !important;
        margin-top: 30px;
    }
    .searchbox select {
        max-width: 100%;
        width:100% !important;
    }
    .searchbox .groupbox {
        display: block;
    }
    .searchbox button {
        right:0;
        position: absolute !important;
        margin-top: -43px;
    }
    .boardwebzinebox .detailbox {
        padding: 0 15px;
    }

    .boardwebzinebox .thumbnailtd {
        width:40%;
    }
    .prevnextbox th {
        font-size: 13px;
    }
    .prevnextbox td {
        font-size: 13px;
    }

    .prevnextbox td a {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (max-width: 457px) {
    .boardviewwrap .buttonbox button {
        width:95px;
    }
}