

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
  color: var(--basic-dark-color) !important;
}

.notosanskr * {
  font-family: 'Noto Sans KR', sans-serif;
}


@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BinggraeSamanco-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bsb {
  font-family: 'BinggraeSamanco-Bold', sans-serif;
}


.sult {
  font-family: 'SUIT-Regular', sans-serif;
}

ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

:is(a, h1, h2, h3, h4, h5, h6, td, th, li, span, strong, dl, dd, div, section, button, label, input, textarea) {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}


:root {
  --basic-dark-color : #222;
  --basic-thin-color : #555;
  --basic-personal-color : #1d2088;
  --basic-white-color : #fff;

  --font-size-12 : 12px;
  --font-size-13 : 13px;
  --font-size-14 : 14px;
  --font-size-15 : 15px;
  --font-size-16 : 16px;
  --font-size-17 : 17px;
  --font-size-18 : 18px;
  --font-size-19 : 19px;
  --font-size-20 : 20px;

  --font-weight-normal : normal;
  --font-weight-bold : bold;

  --letter-spacing-small : -0.5px;
  --letter-spacing-medium : -1px;
  --letter-spacing-large : -2px;

}


#submenubox .accordion-collapse.collapse.show {
  position: absolute;
  width:100%;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  z-index: 3;
}

#submenubox .accordion-collapse.collapsing {
  position: absolute;
  width:100%;
  z-index: 3;
}

#tab-box .nav-link.active {
    border:solid 1px var(--basic-personal-color);
    background: var(--basic-personal-color);
    color: #fff !important;
}

#tab-box .nav {
    gap:15px;
}

.tox-statusbar__branding {
  display:none;
}

.pagenation-wrap {}




