@charset "utf-8";

.subwrap {
    margin-top:90px;
}

.section1 h3 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 55px;
    text-align: center;
    line-height: 50px;
    letter-spacing: -1px;
}

.section1 img {
    width:100%;
}

.section2 {
    margin-top: 85px;
    background: #f4f5f7;
    padding: 120px 0;
}

.section2 strong {
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
}

.section2 span {
    font-size:18px;
    color: var(--basic-personal-color);
}

.section2 h3 {
    font-size:43px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.section2 .contentheader p {
    color: #022222;
    font-size: 16px;
    margin-bottom: 40px;
}

.section2 .contentheader img {
    width:100%
}

.contentbox1 {
    margin-top: 50px;
}

.contentbox1 .infobox {
    background: #fff;
    text-align: center;
    padding: 43px 0;
    border-radius: 30px;
}

.contentbox1 .infobox p {
    font-size:20px;
    margin-bottom: 0;
}

.contentbox2 {
    margin-top: 60px;
}

.contentbox2 .infobox {
    position: relative;
}

.contentbox2 .infobox .imgbox img {
    width:64px;
    height: 64px;
}

.contentbox2 .infobox .boxwrap {
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    padding: 45px 42px;
}

.contentbox2 .infobox .imgbox {
    text-align: right;

}

.contentbox2 .infobox .textbox {
    position: absolute;
    bottom:50px;
}

.contentbox2 .infobox .textbox h4 {
    font-size:31px;
    font-weight: bold;
    letter-spacing: var(--letter-spacing-medium);
    color: var(--basic-white-color);
    margin-bottom: 20px;
}

.contentbox2 .infobox .textbox ul li {
    color: var(--basic-white-color);
    font-size: var(--font-size-15);
    line-height: 27px;
}

.contentbox2 .box .col2 .infobox {
    margin-top: 100px;
}

.contentbox3 {
    margin-top:55px;
}

.contentbox3 .box {
    margin-top:20px;
}

.contentbox3 .box .linespan {
    background: #dedede;
    width:100%;
    height: 2px;
    display: inline-block;
    position: relative;
}

.contentbox3 .box .linespan:before {
    width:95px;
    height: 2px;
    background: var(--basic-personal-color);
    content:'';
    position: absolute;
}

.contentbox3 .box p {
    font-size: 23px;
    font-weight: bold;
    color: var(--basic-personal-color);
    margin-top: 5px;
    margin-bottom: 0;
}

.contentbox3 .bottombox {
    margin-top:50px;
    text-align: center;
    border:solid 1px var(--basic-personal-color);
    border-radius: 15px;
    padding: 25px 0;
}

.contentbox3 .bottombox p {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 0;
    color: var(--basic-personal-color);

}



