@charset "utf-8";

.subwrap {
    margin-top:90px;
    margin-bottom: 70px;
}

.subwrap .contentheader {
    text-align: center;
}

.subwrap .contentheader h3 {
    font-size:32px;
    line-height: 45px;
    letter-spacing: var(--letter-spacing-medium);
    margin-bottom: 0;
}

.subwrap .contentbody {
    margin-top: 80px;
}