@charset "utf-8";

.subwrap {
    margin-top:90px;
    margin-bottom: 70px;
}

.subwrap .contentheader {
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 50px;
    border-bottom: solid 1px #e5e5e5;
}

.subwrap .contentheader h3 {
    font-size:32px;
    line-height: 45px;
    letter-spacing: var(--letter-spacing-medium);
    margin-bottom: 65px;
}

.contentheader img {
    width:100%;
}

.contentheader .textbox {
    text-align: left;
    margin-top: 55px;
}

.contentheader .textbox h4 {
    color: var(--basic-personal-color);
    font-size: 33px;
    letter-spacing: var(--letter-spacing-medium);
    margin-bottom: 25px;
}

.contentheader .textbox ul li {
    font-size: 15px;
    line-height: 28px;
}

.contentbody .titlebox h5 {
    font-size: 23px;
}

.contentbody .imgbox {
    background: #efefef;
    border-radius: 10px;
    margin-bottom: 35px;
}

.contentbody strong {
    font-size: var(--font-size-18);
    display: block;
    min-height: 60px;
}

.contentbody .titlespan {
    display: block;
    background: var(--basic-personal-color);
    width:122px;
    height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    line-height: 27px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.contentbody p {
    font-size: var(--font-size-14);
    color: var(--basic-thin-color);
    margin-bottom: 0;

}

@media (max-width: 1199px) {
    .container {
        max-width: 100%;
    }
    .contentbody .titlebox h5 {
        margin-bottom: 30px;
    }
}

@media (max-width: 529px) {
    .subwrap .contentheader h3 {
        font-size: 23px;
    }
}

@media (max-width: 389px) {
    .subwrap .contentheader h3 {
        font-size: 20px;
        line-height: 35px;
    }
}